{erl_opts, [debug_info]}.
{deps, [cowboy]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [notify_send_server]}
]}.

{relx, [{release, {notify_send_server, "0.1.0"},
         [notify_send_server,
          cowboy]},

        %% sys.config is overriden by cli args for prod releases
        %{sys_config, "./config/sys.config"},
        %{vm_args, "./config/vm.args"},

        {dev_mode, false},
        {extended_start_script, true},
        {include_erts, true}
]}.

